body{
   
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;

        background-image: url(pexels-adonisariass-4601807.jpg);
        background-position: center;
        background-size: cover; 
        background-attachment: scroll;
        
}

header{
    
    text-align: center;
    font-style: italic;
    font-size: 30px;
}
    
h1{
    text-align: center;
  
}


.P1{
    color: black;font-size: 20px;
    
}

.P2{

    font-size: 18px;
    text-align: center;
    font-style: inherit;
    color: black;
}

/* No me deja centrar el video sin afectar las otras lineas de codigo */

.P3{
    font-size: 18px;
    color: black;
    text-align: center;
}