body{
   
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right: 20px;

        background-image: url(pexels-adonisariass-4601807.jpg);
        background-position: center;
        background-size: cover; 
        background-attachment: scroll;
        
}

header{
    
    text-align: center;
    font-style: italic;
    font-size: 30px;
    position: absolute;top: 45px;left: 350px;
}
#bruja{
    width: 80px;
    position: relative;top: 10px;
}
    
.menu{
    font-size: 18px;color:darkmagenta;border: 2px solid darkmagenta;background-color: white;
    padding: 2px;
    margin: 5px;
    position: relative;top: 15px;

}

.F1{
    position:absolute;top: 5px;left: 19px;

}



.P1{
    color: black;font-size: 18px;
    position: relative;top: 17px;left: 1px;
    
}

.P2{

    font-size: 18px;
    text-align: center;
    font-style: inherit;
    color: black;
}

/* No me deja centrar el video sin afectar las otras lineas de codigo */

.P3{
    font-size: 18px;
    color: black;
    text-align: center;
}

ul{
    font-size: 18px;
}

.p4{
    font: 18px;

}

.Link{
    color: pink;
}